{{ $page := . }}
{{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ $anchor := $page.Params.image.focal_point | default "Smart" }}

{{/* Set default titles for node pages */}}
{{ $title := .Title }}
{{ if and (not $title) .IsNode }}
  {{ if eq .Type "post" }}
    {{ $title = i18n "posts" }}
  {{ else if eq .Type "event" }}
    {{ $title = i18n "talks" }}
  {{ else if eq .Type "publication" }}
    {{ $title = i18n "publications" }}
  {{end}}
{{end}}

{{/* Header image */}}
{{ if and .Params.header.image (not (and $featured (not .Params.image.preview_only))) }}
<div class="article-header">
  {{- $img := "" -}}
  {{ $alt := (.Params.header.caption | default "") | plainify }}
  {{ $destination := .Params.header.image }}
  {{ $is_remote := strings.HasPrefix $destination "http" }}
  {{- if not $is_remote -}}
    {{- $img = (.Page.Resources.ByType "image").GetMatch $destination -}}
    {{- if not $img -}}
      {{- $img = resources.Get (path.Join "media" $destination) -}}
    {{- end -}}
  {{- end -}}
  {{ if $img }}
    <img src="{{$img.RelPermalink}}" width="{{$img.Width}}" height="{{$img.Height}}" class="article-banner" alt="{{$alt}}">
  {{ else }}
    <img src="{{ .Params.header.image }}" class="article-banner" alt="{{$alt}}">
  {{ end }}

  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}

{{/* Featured image layout */}}
{{ if and $featured (not .Params.image.preview_only) }}

{{/* Fit image within max size. */}}
{{ $image := $featured }}

{{/* Determine image placement. */}}
{{ $placement := .Params.image.placement | default 1 }}{{/* Default to full column width. */}}
{{/* Fit image to container's max width */}}
{{ $image_container := "" }}
{{ if eq $placement 2}}
  {{ $image_container = "container" }}
  {{ $image = $featured.Fit "1200x2500 webp" }}
{{else if eq $placement 3}}
  {{ $image_container = "container-fluid" }}
  {{ $image := $featured.Fit "2560x2560 webp" }}
{{else}}
  {{ $image_container = "article-container" }}
  {{ $image = $featured.Fit "720x2500 webp" }}
{{end}}

<div class="article-container pt-3">
  <h1>{{ $title }}</h1>

  {{ with .Page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ with .Page.Params.summary }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
  {{ partial "page_links_div.html" $page }}
</div>

{{/* Featured image */}}
<!--<div class="article-header {{$image_container}} featured-image-wrapper mt-4 mb-4" style="max-width: {{$image.Width}}px; max-height: {{$image.Height}}px;">
  <div style="position: relative">
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ with $.Params.image.alt_text }}{{.}}{{ end }}" class="featured-image">
    {{ with $.Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
  </div>
</div>-->
{{else}}
  {{/* Case when page has no image */}}

  {{/* Wider container for nodes */}}
  {{ $ctnr := "article-container" }}
  {{ if $page.IsNode }}
    {{ $ctnr = "universal-wrapper" }}
  {{end}}
<div class="{{$ctnr}} pt-3">
  <h1>{{ $title }}</h1>

  {{ with .Page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ with .Page.Params.summary }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ if not .IsNode }}
    {{ partial "grant_metadata" (dict "page" $page "is_list" 0 "share" true) }}
    {{ partial "page_links_div.html" $page }}
  {{end}}
</div>
{{end}}



<div class="article-container pt-3" style="border-top: solid 1px #CDB29660; border-bottom: solid 1px #CDB29660; margin-bottom: 1em; font-size: 0.85em;">
  <h2 style="margin-top: 0px; text-align: center; font-size: 1.25em">At A Glance</h2>
  <img src="logo.png" width="56px" height="56px" alt="{{ .Page.Params.source | plainify }}" style="float: right; clear: left; margin-left: 2em;">
    <ul>
      <li><span class="amt" style="color: #85bb65;"><i class="fas fa-money-check-alt"></i></span>&nbsp;Awarded <span class="amt" style="color: #85bb65; font-weight: bold;">{{ .Page.Params.amount }}</span> from the <a href="{{ .Page.Params.source_website }}" style="font-weight: bold;">{{ .Page.Params.source }}</a></li>
<!--      <li><span style="color: #4F51FE;"><i class="fas fa-calendar-week"></i></span>&nbsp;Grant period <span style="color: #4F51FE; font-weight: bold;">{{ (time .Page.Params.date_start) | time.Format (.Page.Params.date_format | default "January 2006") }}</span> to <span style="color: #4F51FE; font-weight: bold;">{{ (time .Page.Params.date_end) | time.Format (.Page.Params.date_format | default "January 2006") }}</span></li>-->
      <li><span style='color:#741a33;'><i class="fas fa-briefcase"></i></span>&nbsp;Serving as <span style='color:#741a33; font-weight: bold;'>{{ .Page.Params.role }}</span></li>
      <li><span style='color:#CDB296;'><i class="fas fa-box-open"></i></span>&nbsp;Supporting <a href="/project/{{ .Page.Params.project }}/"> {{ .Page.Params.project_name }}</a></li>
    </ul>
</div>
